div{
    margin:20px;
    text-align:center;/*字置中*/
    margin-top: 0px;
}
#BoxMargin{
    border-style:dashed;
}
#BoxBorder{
    border-style:solid;
    background-color: yellow;
}
#BoxPadding{
    border-style:solid;
    background-color: white;
}
#BoxContent{
    border-style:dashed;
    padding-bottom:150px;
}